.hero {
  padding: 4rem 4rem;
  font-family: 'Inter', sans-serif;
  width: 100%;
  /* max-width: 1300px; */
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4.5rem;
}

.hero-left {
  flex: 1;
  min-width: 280px;
}

.symbol {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: 400;
  max-width: 850px;
  line-height: 1.5;
  color: #000;
}

.hero-right {
  flex-shrink: 0;
  text-align: center;
}

.profile-img {
  width: 100%;
  max-width: 400px;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: 450px;
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: 0.95rem;
  flex-wrap: wrap;
  gap: 2rem;
  color: #000;
}

.experience-showcase {
  display: flex;
  align-items: center;
  background-color: transparent; /* match your dark theme */
  color: #ddd;
  padding: 2rem 0rem;
  border-radius: 12px;
  gap: 2rem;
  flex-wrap: wrap;
}

.logo-carousel {
  display: flex;
  /* gap: 1rem; */
  flex-wrap: wrap;
}

.logo-carousel img {
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  background-color: #fff;
  padding: 2px;
  object-fit: cover;
  transition: transform 0.2s ease;
  box-shadow: 0 0 0 2px #fff;
}

.logo-carousel img:hover {
  transform: scale(1.05);
}

.experience-tagline p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #bbb;
  font-weight: 400;
  margin: 0;
}


/* Tablet */
@media screen and (max-width: 1024px) {
  .hero h1 {
    font-size: 1.75rem;
  }

  .hero-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-img {
    max-width: 300px;
  }

  .hero-bottom {
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  .hero {
    padding: 2rem 1rem;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .button-resume {
    padding: 0.75rem 1.5rem;
    font-size: 0.95rem;
  }

  .hero-bottom {
    font-size: 0.85rem;
    gap: 1rem;
  }
}
